# Extracting CSV Data, Cleaning, and Transformation

In [1]:
#import modin.pandas as pd ##EXPERIMENTAL (modin is a lot faster for larger datasets, requires config)
import pandas as pd
import numpy as np
from hashlib import sha256

### Load csv. csv does not have header in first row, set header=None
df = pd.read_csv('chesterfield_25-08-2021_09-00-00.csv', header=None)

###TODO EDA notes

## store_name can be dropped and used as table name. Make script to:
# 1. Cleanse data
# 2. Generate pgsql db create table script with table name of store-name_payment-type,
#    and 3NF schema (if not exists)
# 3. Normalise and split tables
# 4. df.to_sql(table name, etc.)

## List for setting df column names, set column names
# Cannot set index name to 'id' or 'order_id' as 1NF would increase redundancy,
# and cause index to not be unique, timestamp would be uniquely identifiable if separate tables for payment_type.
df.columns = ['timestamp', 'store_name', 'customer_name', 'basket_items', 'total_price', 'payment_type', 'card_number']
sql_table_name = list(df.store_name.unique())[0]

## Convert date-time to timestamp
#https://stackoverflow.com/questions/54312802/pandas-convert-from-datetime-to-integer-timestamp
#df['timestamp'] = (pd.to_datetime(df['timestamp']).view(np.int64) / 10**9).astype(int)
df['timestamp'] = pd.to_datetime(df['timestamp'])

## Generate a uuid for 'id'? >> Just make a separate 'order_id' column, containing hash of
## concatenated string of values in row. When using pd.to_sql(), add index=False arg.
# Deprecated: Copy index to new 'order_id' column
#df['order_id'] = df.index
df['order_id'] = df.astype(str).sum(1).apply(lambda x: sha256(x.encode()).hexdigest())

### Remove sensitive data (customer_name and card_number). <Drop>/Hash

## OPTIONAL/DEPRECATE: Hash card/customer name instead of dropping, after making order_id. SHA256 hash function
def hash_col(col_name):
    df[col_name] = df[col_name].apply(
        lambda x: 
            sha256(x.encode()).hexdigest()
    )

# Hash customer_name.
hash_col('customer_name')

# card_number fields are type: float. Convert to str before hashing.
df['card_number'] = df['card_number'].astype(str)
hash_col('card_number')

# Temp: Drop hashed customer_name and card_number columns as they are optional.
df.drop(['customer_name', 'card_number'], axis=1, inplace=True)

# inspect
print(f"df has {df.shape[0]} rows")
df.head(10)

df has 268 rows

,timestamp,store_name,basket_items,total_price,payment_type,order_id
0,2021-08-25 09:00:00,Chesterfield,Regular Flavoured iced latte - Hazelnut - 2.75...,5.20,CARD,653e92934ae2c67cada1edf40aaaed37294771af4e28bd...
1,2021-08-25 09:02:00,Chesterfield,"Large Flavoured iced latte - Caramel - 3.25, R...",17.30,CARD,bc891bc6164328ef3d7b1bc4203745a8ddd7681f380882...
2,2021-08-25 09:04:00,Chesterfield,"Large Flat white - 2.45, Regular Latte - 2.15",4.60,CARD,9b419abf2474b80356e6fbdcc93a60e1e1f9a21adf1124...
3,2021-08-25 09:06:00,Chesterfield,"Regular Flavoured latte - Hazelnut - 2.55, Lar...",5.00,CARD,93df60d1c13b8d2eca90a58eb2455dbcd29bccb8df9c17...
4,2021-08-25 09:08:00,Chesterfield,"Regular Latte - 2.15, Large Latte - 2.45",4.60,CASH,ee725ccf547a845c57a59cad47f49702b6d975df4a1851...
5,2021-08-25 09:10:00,Chesterfield,"Large Flavoured iced latte - Caramel - 3.25, R...",12.95,CASH,950d83f12ba19344159c9757428034d5d31c687c5aa94f...
6,2021-08-25 09:12:00,Chesterfield,"Large Flavoured latte - Hazelnut - 2.85, Regul...",17.40,CARD,23d6586f5ef29902a16f3e3ab798782a9774083b5db124...
7,2021-08-25 09:14:00,Chesterfield,"Regular Flavoured iced latte - Vanilla - 2.75,...",13.55,CARD,64e7754ee759f2b756f4407d7f543ad853ced1ac0f9301...
8,2021-08-25 09:17:00,Chesterfield,"Regular Flavoured iced latte - Caramel - 2.75,...",12.55,CARD,09e1a8b790458835f231614398df6743d8d2c87e221a7e...
9,2021-08-25 09:19:00,Chesterfield,"Large Flat white - 2.45, Large Flavoured latte...",5.30,CARD,8e7b9bd39f69826c955085e5c85d6a0496a02df3294529...

# 1NF normalised data

In [2]:
## Split basket_items by comma-separated values - not expanding:
df['basket_items'] = df['basket_items'].str.split(', ')
df = df.explode('basket_items')

## Convenient NF1 for basket_items, rsplit items into: 'item', 'price'
df[['item', 'item_price']] = df['basket_items'].str.rsplit(' - ', n=1, expand=True)

## Further split 'size', 'product/drink'
df[['item_size', 'item_name']] = df['item'].str.split(' ', n=1, expand=True)

# is more splits meaningful? (probably not)

## New processed table, drop 'item' as it is processed?
#df_processed = df.drop(['store_name','basket_items', 'item'], axis=1)

# inspect
print(f"Exploded df in 1NF has {df.shape[0]} rows")
df.head(10)

Exploded df in 1NF has 779 rows

,timestamp,store_name,basket_items,total_price,payment_type,order_id,item,item_price,item_size,item_name
0,2021-08-25 09:00:00,Chesterfield,Regular Flavoured iced latte - Hazelnut - 2.75,5.2,CARD,653e92934ae2c67cada1edf40aaaed37294771af4e28bd...,Regular Flavoured iced latte - Hazelnut,2.75,Regular,Flavoured iced latte - Hazelnut
0,2021-08-25 09:00:00,Chesterfield,Large Latte - 2.45,5.2,CARD,653e92934ae2c67cada1edf40aaaed37294771af4e28bd...,Large Latte,2.45,Large,Latte
1,2021-08-25 09:02:00,Chesterfield,Large Flavoured iced latte - Caramel - 3.25,17.3,CARD,bc891bc6164328ef3d7b1bc4203745a8ddd7681f380882...,Large Flavoured iced latte - Caramel,3.25,Large,Flavoured iced latte - Caramel
1,2021-08-25 09:02:00,Chesterfield,Regular Flavoured iced latte - Hazelnut - 2.75,17.3,CARD,bc891bc6164328ef3d7b1bc4203745a8ddd7681f380882...,Regular Flavoured iced latte - Hazelnut,2.75,Regular,Flavoured iced latte - Hazelnut
1,2021-08-25 09:02:00,Chesterfield,Regular Flavoured iced latte - Caramel - 2.75,17.3,CARD,bc891bc6164328ef3d7b1bc4203745a8ddd7681f380882...,Regular Flavoured iced latte - Caramel,2.75,Regular,Flavoured iced latte - Caramel
1,2021-08-25 09:02:00,Chesterfield,Large Flavoured iced latte - Hazelnut - 3.25,17.3,CARD,bc891bc6164328ef3d7b1bc4203745a8ddd7681f380882...,Large Flavoured iced latte - Hazelnut,3.25,Large,Flavoured iced latte - Hazelnut
1,2021-08-25 09:02:00,Chesterfield,Regular Flavoured latte - Hazelnut - 2.55,17.3,CARD,bc891bc6164328ef3d7b1bc4203745a8ddd7681f380882...,Regular Flavoured latte - Hazelnut,2.55,Regular,Flavoured latte - Hazelnut
1,2021-08-25 09:02:00,Chesterfield,Regular Flavoured iced latte - Hazelnut - 2.75,17.3,CARD,bc891bc6164328ef3d7b1bc4203745a8ddd7681f380882...,Regular Flavoured iced latte - Hazelnut,2.75,Regular,Flavoured iced latte - Hazelnut
2,2021-08-25 09:04:00,Chesterfield,Large Flat white - 2.45,4.6,CARD,9b419abf2474b80356e6fbdcc93a60e1e1f9a21adf1124...,Large Flat white,2.45,Large,Flat white
2,2021-08-25 09:04:00,Chesterfield,Regular Latte - 2.15,4.6,CARD,9b419abf2474b80356e6fbdcc93a60e1e1f9a21adf1124...,Regular Latte,2.15,Regular,Latte

# FINAL 3NF Tables

In [3]:
## stores table needs to have: store_id, store_name
stores_table = pd.DataFrame(df[['store_name']]).drop_duplicates(subset='store_name', keep='first')
stores_table['store_id'] = stores_table.astype(str).sum(1).apply(lambda x: sha256(x.encode()).hexdigest())

# Inspect
stores_table

     store_name                                           store_id
0  Chesterfield  40063b235ac8b4062bc79ba2c9b25872422507fec07912...

In [4]:
## Orders table needs to have: order_id, timestamp, store_id, total_price, payment_type
# Stretch: hashed customer_name, hashed card_number
orders_table = pd.DataFrame(df[['order_id', 'timestamp', 'store_name', 'total_price', 'payment_type']]).drop_duplicates(ignore_index=True)

# Merge store_id with respective store_name in orders_table
orders_table = orders_table.merge(stores_table, how='left', on='store_name')

# Drop store_name in orders_table
orders_table.drop('store_name', axis=1, inplace=True)

# Inspect
orders_table

,order_id,timestamp,total_price,payment_type,store_id
0,653e92934ae2c67cada1edf40aaaed37294771af4e28bd...,2021-08-25 09:00:00,5.20,CARD,40063b235ac8b4062bc79ba2c9b25872422507fec07912...
1,bc891bc6164328ef3d7b1bc4203745a8ddd7681f380882...,2021-08-25 09:02:00,17.30,CARD,40063b235ac8b4062bc79ba2c9b25872422507fec07912...
2,9b419abf2474b80356e6fbdcc93a60e1e1f9a21adf1124...,2021-08-25 09:04:00,4.60,CARD,40063b235ac8b4062bc79ba2c9b25872422507fec07912...
3,93df60d1c13b8d2eca90a58eb2455dbcd29bccb8df9c17...,2021-08-25 09:06:00,5.00,CARD,40063b235ac8b4062bc79ba2c9b25872422507fec07912...
4,ee725ccf547a845c57a59cad47f49702b6d975df4a1851...,2021-08-25 09:08:00,4.60,CASH,40063b235ac8b4062bc79ba2c9b25872422507fec07912...
...,...,...,...,...,...
263,90af93202d07cd9f2186cea31a665e971cb05ad31be603...,2021-08-25 16:45:00,14.35,CARD,40063b235ac8b4062bc79ba2c9b25872422507fec07912...
264,c715db22d6836903ac7f266893a780beae4b3d105a0345...,2021-08-25 16:49:00,6.10,CASH,40063b235ac8b4062bc79ba2c9b25872422507fec07912...
265,c4eb1f3f38323bbca7f9dda2209908f8a3c0a40425fb1b...,2021-08-25 16:52:00,10.70,CASH,40063b235ac8b4062bc79ba2c9b25872422507fec07912...
266,ef1374f6cf0499674acd44e69310f7e831fc907b02fa36...,2021-08-25 16:56:00,2.55,CASH,40063b235ac8b4062bc79ba2c9b25872422507fec07912...
267,a379a51c27220c6773ee6283c8c31cafa94e59e255c4d0...,2021-08-25 16:59:00,2.45,CASH,40063b235ac8b4062bc79ba2c9b25872422507fec07912...

In [5]:
## Products table needs to have: product_id, item_name, item_size, item_price
products_table = pd.DataFrame(df[['item_name', 'item_size', 'item_price']]).drop_duplicates(ignore_index=True)

# new column: products_id is a hash of concatenated strings of row values. may not require after drop_duplicates
products_table['product_id'] = products_table.astype(str).sum(1).apply(lambda x: sha256(x.encode()).hexdigest())

# Inspect
products_table

,item_name,item_size,item_price,product_id
0,Flavoured iced latte - Hazelnut,Regular,2.75,e1909beb0d7189ebbe06a397c3c9f09c43124a529a7f42...
1,Latte,Large,2.45,7a72ffbeaac20547e3b048d84a714fefd1305b27698563...
2,Flavoured iced latte - Caramel,Large,3.25,98ae6eba3761c1a4682a56dba30d86bee3cf6b75b32f64...
3,Flavoured iced latte - Caramel,Regular,2.75,4cae0c515acf9212c2b207acbb9562da49f3dc123b78a5...
4,Flavoured iced latte - Hazelnut,Large,3.25,22c5a0d4f6fd3f465f549990c096003653cd91a9809e9d...
5,Flavoured latte - Hazelnut,Regular,2.55,4315b48cdd42aa64c5844a36106fd10bec0ebd95e52a26...
6,Flat white,Large,2.45,64b8afb31d8913dec54ee358cdfc8d37b842568fc2d40c...
7,Latte,Regular,2.15,3d52958355d42b9d04f752b5b8e0c13b58e3a5d277bb38...
8,Flat white,Regular,2.15,32807356cdcec4a69885ec614b1628f9fc1b021aba831d...
9,Flavoured latte - Hazelnut,Large,2.85,992b625c30d49862ba2f28abdbd2db3d988e5f1e606dba...
10,Flavoured iced latte - Vanilla,Regular,2.75,b99cd386c1ce5901b9974d41fd0f59362238cdc3ee5005...
11,Flavoured iced latte - Vanilla,Large,3.25,05f2c27c9aa27acce0a5b561adcc20c93348caa33cb9fb...

In [6]:
## orders_products table has: order_id, product_id, quantity
orders_products = df.drop(['timestamp', 'store_name', 'basket_items', 'total_price', 'payment_type', 'item'], axis=1)

# Merge item_price, item_size, and item_price with products_id in products_table
orders_products = orders_products.merge(products_table, on=['item_price', 'item_size', 'item_name'], how="left")

# Collapse repeated rows by grouping and counting duplicates with chained size() method
# https://stackoverflow.com/questions/35584085/how-to-count-duplicate-rows-in-pandas-dataframe
orders_products = orders_products.groupby(orders_products.columns.tolist(), as_index=False).size()

# Drop 'item_price', 'item_size', 'item_name', as merge does not drop them.
orders_products = orders_products.drop(['item_price', 'item_size', 'item_name'], axis=1)

# Rename 'size' to 'quantity'
orders_products.rename(columns={'size':'quantity'}, inplace=True)

# Inspect
more_than_zero = orders_products.value_counts().sum()
more_than_one = orders_products.loc[orders_products['quantity'] > 1].value_counts().sum()
more_than_two = orders_products.loc[orders_products['quantity'] > 2].value_counts().sum()

print(f"orders_products rows with quantity > 0: {more_than_zero}\norders_products rows with quantity > 1: {more_than_one}\norders_products rows with quantity > 2: {more_than_two}\n")
orders_products

orders_products rows with quantity > 0: 687
orders_products rows with quantity > 1: 89
orders_products rows with quantity > 2: 3

,order_id,product_id,quantity
0,005fb529d1695bbafb71e3fbf1bb870a71bb46039b0860...,3d52958355d42b9d04f752b5b8e0c13b58e3a5d277bb38...,2
1,005fb529d1695bbafb71e3fbf1bb870a71bb46039b0860...,98ae6eba3761c1a4682a56dba30d86bee3cf6b75b32f64...,1
2,005fb529d1695bbafb71e3fbf1bb870a71bb46039b0860...,22c5a0d4f6fd3f465f549990c096003653cd91a9809e9d...,1
3,019113dfe2df61fe6412142b17101f372636ba05f3bdab...,4cae0c515acf9212c2b207acbb9562da49f3dc123b78a5...,2
4,019113dfe2df61fe6412142b17101f372636ba05f3bdab...,e1909beb0d7189ebbe06a397c3c9f09c43124a529a7f42...,1
...,...,...,...
682,ff899f87dcab904ef808007137deaab9cb3893c319d475...,32807356cdcec4a69885ec614b1628f9fc1b021aba831d...,1
683,ff899f87dcab904ef808007137deaab9cb3893c319d475...,3d52958355d42b9d04f752b5b8e0c13b58e3a5d277bb38...,1
684,ff899f87dcab904ef808007137deaab9cb3893c319d475...,64b8afb31d8913dec54ee358cdfc8d37b842568fc2d40c...,1
685,ff899f87dcab904ef808007137deaab9cb3893c319d475...,4cae0c515acf9212c2b207acbb9562da49f3dc123b78a5...,1
686,ff899f87dcab904ef808007137deaab9cb3893c319d475...,22c5a0d4f6fd3f465f549990c096003653cd91a9809e9d...,2

# TO_SQL

In [7]:
from sqlalchemy import create_engine
from sqlalchemy import TIMESTAMP as ts

def send_df(tablename, dataframe, indexing=None):    
    # Database SQLAlchemy engine
    engine = create_engine(f'postgresql+psycopg2://root:password@localhost:5432/postgres')
    
    # Sets indexing of df to push to db
    if indexing == None:
        index_bool = False
    else:
        indexing = indexing
        index_bool = True
    
    dataframe.to_sql(name=tablename, con=engine, if_exists='append', index=index_bool, index_label=indexing, dtype={'timestamp': ts(timezone=False)})

    # Close engine and connection - does engine auto-close connections and its pooled connection(s)?
    engine.dispose()

send_df("stores", stores_table)
send_df("orders", orders_table)
send_df("products", products_table)
send_df("orders_products", orders_products)

##TODO Works, but "urlencode() expects parameter 1 to be string, resource given in /var/www/html/adminer.php on line 1775"

# UNIT TESTING

In [8]:
### Unittests

##TODO unittest timestamp conversion assert
#df['timestamp'] = pd.to_datetime(df['timestamp'], unit='s')

##TODO Assert corresponding order_id and product_id relates to the correct quantity - just started..
check_order = orders_products.iloc[0]['order_id']
check_product = orders_products.iloc[0]['product_id']

fetched_product = products_table.loc[products_table['product_id'] == check_product]
fetched_order = orders_table.loc[orders_table['order_id'] == check_order]